html{
    font-size: 62.5%;
    margin: 0;
    padding: 0; 
}

.navbar{
    display: flex;
    overflow: hidden;
    height: 48px;
    padding: 6px;
    justify-content: flex-end;
    margin-top: 0;
    /* background-color: red; */
    
}

.navbar a{
    text-decoration: none;
    
    color: black;
    font-size: 1.3rem;
    font-family: Arial, sans-serif; 
    margin-right: 1.5rem;
}
.navbar a:hover{
    text-decoration: underline;
}

.app-drawer{
  float: right;  
  width: 30px;
  height: 30px;
  margin-right: 1.5rem;
  background-color: #fff;
  opacity: 0.5;
  padding: 0;
  border: none;
}
.app-drawer:hover{
    border: 1px solid #aaa;
}
.user-avatar{
    border-radius: 50%;
    height: 30px;
    
}
.user-avatar:hover{
    border: 1px solid #aaa;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 15rem;
}

.icon{
    width: 272px;
    height: 92px;
    margin-bottom: 3rem;
}


.searchdiv{
    display: flex;
  align-items: center;
  justify-content: space-between;
  width: 580px;
  padding: 1rem;
  padding-right: 1.5rem;
  border: 0.1px;
  border-radius: 30px;
  border-color: #ddd;
    

}
#formtext{
    width: 90%;
    font-size: 1.6rem;
    border: none;
    
   
}
#formtext:focus-within{
     
   outline: none;
}
.search-img{ 
    width: 25px;
    height: 25px;
    margin-right: 1rem;
}
.mic-image{
    width: 25px;
  height: 25px;
}
.searchdiv:hover{
    border-color: white;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}


.search-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.4rem;
}

.button-search{
    
    min-width: 54px;
    height: 36px;
    padding: 0 2rem;
    border: 1px solid transparent;
    border-radius: 5px;
    margin: 0.7rem;
    background-color: #f8f9fa;
    color: #3c4043;
    font-size: 1.4rem;
}

.button-search:focus {
    border-color: blue;
  }

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #ddd;
    background: #f2f2f2;
    color: #70757a;
    font-size: 1.4rem;
    font-family: Arial, sans-serif; 
  }
  
  .left-section,
  .right-section {
    display: flex;
  }
  
  .right-section {
    margin-right: 3rem;
  }
  
  .footer-link {
    display: block;
    padding: 1rem 0 1rem 3rem;
  }
  
  .footer-link:hover {
    text-decoration: underline;
    color:#3c4043;
  }
  
  .footer-link:active {
    color: #ea4335;
  }  
.footer a{
    text-decoration: none;
    color: inherit;
}

