
.navbar{
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 10px;
}

.navbar a{
  text-decoration: none;
  padding: 10px;
  color: rgba(0, 0, 0, 0.87);
  font-family: arial,sans-serif;
  font-size: 13px;
}
.navbar button{
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  color: gray;
  
  padding-bottom: 5px;
  
}

.navbar img{
  border-radius: 50%;
  height: 25px;
  padding-bottom: 5px;

}

.navbar a:hover{
  text-decoration: underline;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.search-div{
  display: flex;
  
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 999px;
  height: 20px;
  width: 75vw;
  max-width: 500px;
  padding: 10px 20px; 
  margin: 0 auto;
  margin-top: 50px;

  
}
.search-div .material-icons{
  opacity: 0.85;
  color: gray
}
.search-div #search-input{
  width: 90%;
  border: none;
  outline: none;
  border-radius: 25px;
}

.search-div:hover {
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
}

.search-div:focus-within{
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
}

.search-div button{
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  
  
  height: 25px;
  width: 25xp;
  
}
.search-div img{
  height: 25px;
  width: 25px;
}

.buttons-section{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.search-button{
  background: none;
  outline: none;
  border: none;
  margin: 5px;
  padding: 12px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial,sans-serif;
  font-size: 14px;
}

.search-button:hover{
  border-color: #dadce0;
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}

.offered{
  text-align: center;
  margin-top: 15px;
  font-family: arial,sans-serif;
  font-size: 13px;
}
  



.offered a{
  padding: 5px;
  text-decoration: none;
}

.offered a:hover{
  text-decoration: underline;
}
  

.footer{
  display: flex;
  flex-direction: column;
  
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f2f2f2;
}

.country{
  
  width: 100%;
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
  font-size: 15px;
  color: rgba(0,0,0,.54);
  background-color: #f2f2f2;
}
.final-footer{
  height: 20px;
  font-size: 14px;
  font-family: arial,sans-serif;
  color: #222;
}
.left-section{
  margin-left:20px;  
  float: left;
}
.left-section a{
  padding: 5px;
  text-decoration: none;
  font-size: 14px;
  font-family: arial,sans-serif;
  color: #222;
}
.right-section{
 
  float: right;
  margin-right: 20px;
  
}
.right-section a{
  padding: 5px;
  text-decoration: none;
  font-size: 14px;
  font-family: arial,sans-serif;
  color: #222;
}